<%- model_class = Plant -%>
<div class="plants new main-content round">
    <div class="page-header">
      <h2><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human %></h2>
    </div>
    <%= render :partial => 'form' %>
</div>
